<!DOCTYPE html>
<html lang="hu"	layout:decorator="main">
<head>
	<meta charset="utf-8" />
	<title>Felvásárlás</title>
</head>
<body>
		
	<div layout:fragment="content" >
		
		<h2>Termelő mérlegjegy készítése</h2>
		
		<div class="container-fluid">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">I. osztály ár (FT)</th>
			      <th scope="col">II. osztály ár (FT)</th>
			      <th scope="col">III. osztály ár (FT)</th>
			      <th scope="col">IV. osztály ár (FT)</th>
			      <th scope="col">Vastag gyökér ár (FT)</th>
			      <th scope="col">Vékony gyökér ár (FT)</th>
			    </tr>
			  </thead>
			  <tbody th:each="beallitas : ${beallitas}">
			    <tr>
			      <th ></th>
			      <td th:text="${beallitas.elsoOsztalyAr}" id="elsoOsztalyAr">Mark</td>
			      <td th:text="${beallitas.masodOsztalyAr}" id="masodOsztolyAr">Otto</td>
			      <td th:text="${beallitas.harmadOsztalyAr}" id="harmadOsztalyAr">@mdo</td>
			      <td th:text="${beallitas.negyedOsztalyAr}" id="negyedOsztalyAr">@mdo</td>
			      <td th:text="${beallitas.vastagGyokerAr}" id="vastagGyokerAr">@mdo</td>
			      <td th:text="${beallitas.vekonyGyokerAr}" id="vekonyGyokerAr">@mdo</td>
			    </tr>
			    
			  </tbody>
			</table>
		</div>
		<br>
		
		<hr>
		
		<br>

		<div class="container-fluid">
		<span id="errmsg" color="red"></span>
			<form action="" class="  ">
				<div class="row ">
					<div class="col-sm-3">
						<label></label>
					</div>
					<div class="col-sm-2">
						<label>Első mérés</label>
					</div>
					<div class="col-sm-4">
						<label>Második mérés</label>
					</div>
					<div class="col-sm-3">
						<label>Bruttó súly (kg)</label>
					</div>
				</div>
				<div class=" row ">
					<div class="col-sm-3 mb-2 pb-2">
						<label>I. osztály mérés (kg)</label>
					</div>
					<div class="col-sm-2">
						<input type="text" id="elsoMeresegy" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-2">
						<input type="text" id="elsoMeresKetto" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-secondary border" id="szamolElso">Számol</button>
					</div>
					<div class="col-sm-3">
						<label id="eredményElso">0</label>
					</div>
				</div>
				<div class=" row">
					<div class="col-sm-3">
						<label>II. osztály mérés (kg)</label>
					</div>
					<div class="col-sm-2">
						<input type="text" id="masodMeresegy" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-2">
						<input type="text" id="masodMeresKetto" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-secondary rounded" id="szamolMasod">Számol</button>
					</div>
					<div class="col-sm-3">
						<label id="eredményMasod">0</label>
					</div>
				</div>
				<div class=" row">
					<div class="col-sm-3">
						<label>III. osztály mérés (kg)</label>
					</div>
					<div class="col-sm-2">
						<input type="text" id="harmadMeresegy" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-2">
						<input type="text" id="harmadMeresKetto" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-secondary border" id="szamolHarmad">Számol</button>
					</div>
					<div class="col-sm-3">
						<label id="eredményHarmad">0</label>
					</div>
				</div>
				<div class=" row">
					<div class="col-sm-3">
						<label>IV. osztály mérés (kg)</label>
					</div>
					<div class="col-sm-2">
						<input type="text" id="negyedMeresegy" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-2">
						<input type="text" id="negyedMeresKetto" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-secondary border" id="szamolNegyed">Számol</button>
					</div>
					<div class="col-sm-3">
						<label id="eredményNegyed">0</label>
					</div>
				</div>
				<div class=" row">
					<div class="col-sm-3">
						<label>Vastag gyökér mérés (kg)</label>
					</div>
					<div class="col-sm-2">
						<input type="text" id="vastagMeresegy" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-2">
						<input type="text" id="vastagMeresKetto" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-secondary border" id="szamolVastag">Számol</button>
					</div>
					<div class="col-sm-3">
						<label id="eredményVastag">0</label>
					</div>
				</div>
				<div class=" row">
					<div class="col-sm-3">
						<label>Vékony gyökér mérés (kg)</label>
					</div>
					<div class="col-sm-2">
						<input type="text" id="vékonyMeresegy" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-2">
						<input type="text" id="vékonyMeresKetto" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-secondary border" id="szamolVekony">Számol</button>
					</div>
					<div class="col-sm-3">
						<label id="eredményVekony">0</label>
					</div>
				</div>
			</form>
			
		</div>
		
		<br>
		
		<hr>
		
		<br>
		
		<div class="container-fluid">
			<form name="ujmerlegjegyment" action="ujmerlegjegyment"  method="POST">
			  
			  <div class="form-group">
			    <label for="tId">Termelő ID</label>
			    <input type="text" class="form-control" id="tId" th:value="${termelok.id}" maxlength="10" name="tId" readonly="readonly">
			  </div>
			  <div class="form-group">
			    <label for="tNev">Termelő Név</label>
			    <input type="text" class="form-control" id="tNev" th:value="${termelok.termeloNev}" maxlength="10" name="tNev" readonly="readonly">
			  </div>
			  
			  <div class="form-group">
			    <label for="elsoOsztalySuly">I. osztály nettó súly (kg)</label>
			    <input type="text" class="form-control numberFormat" id="elsoOsztalySuly" maxlength="10" name="elsoOsztalySuly">
			  </div>
			  <div class="form-group">
			    <label for="masodOsztalySuly">II. osztály nettó súly  (kg)</label>
			    <input type="text" class="form-control numberFormat" id="masodOsztalySuly" maxlength="10" name="masodOsztalySuly">
			  </div>
			  <div class="form-group">
			    <label for="harmadOsztalySuly">III. osztály nettó súly  (kg)</label>
			    <input type="text" class="form-control numberFormat" id="harmadOsztalySuly" maxlength="10" name="harmadOsztalySuly">
			  </div>
			  <div class="form-group">
			    <label for="negyedOsztalySuly">IV. osztály nettó súly (kg)</label>
			    <input type="text" class="form-control numberFormat" id="negyedOsztalySuly" maxlength="10" name="negyedOsztalySuly">
			  </div>
			  <div class="form-group">
			    <label for="vastagGyokerSuly">Vastag gyökér nettó súly  (kg)</label>
			    <input type="text" class="form-control numberFormat" id="vastagGyokerSuly" maxlength="10" name="vastagGyokerSuly">
			  </div>
			  <div class="form-group">
			    <label for="vekonyGyokerSuly">Vékony gyökér nettó súly (kg)</label>
			    <input type="text" class="form-control numberFormat" id="vekonyGyokerSuly" maxlength="10" name="vekonyGyokerSuly">
			  </div>
			  <div class="form-group">
			    <label for="osszAr">Leadás összértéke</label>
			    <input type="text" class="form-control numberFormat" id="osszAr" maxlength="15" name="osszAr">
			  </div>
			  
			  <button type="submit" class="btn btn-primary">Mentés</button>
			</form>
		
		</div>
		
		<br>
		
		<hr>
		
		<br>
		
		</div>
		
		<script type="text/javascript">
		
		document.getElementById("szamolElso").onclick = function(){
			console.log("Hello");
		};
		</script>

	

</body>
</html>