<!DOCTYPE html>
<html lang="hu"	layout:decorator="main">
<head>
	<meta charset="utf-8" />
	<title>Felvásárlás</title>
</head>
<body>
		
	<div layout:fragment="content" >
		
		<h2>Vevői mérlegjegy készítése</h2>
		
		<div class="container-fluid">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">I. osztály ár (FT)</th>
			      <th scope="col">II. osztály ár (FT)</th>
			      <th scope="col">III. osztály ár (FT)</th>
			      <th scope="col">IV. osztály ár (FT)</th>
			      <th scope="col">Vastag gyökér ár (FT)</th>
			      <th scope="col">Vékony gyökér ár (FT)</th>
			    </tr>
			  </thead>
			  <tbody th:each="beallitas : ${beallitas}">
			    <tr>
			      <th ></th>
			      <td th:text="${beallitas.elsoOsztalyAr}">Mark</td>
			      <td th:text="${beallitas.masodOsztalyAr}">Otto</td>
			      <td th:text="${beallitas.harmadOsztalyAr}">@mdo</td>
			      <td th:text="${beallitas.negyedOsztalyAr}">@mdo</td>
			      <td th:text="${beallitas.vastagGyokerAr}">@mdo</td>
			      <td th:text="${beallitas.vekonyGyokerAr}">@mdo</td>
			    </tr>
			    
			  </tbody>
			</table>
		</div>
		<br>
		
		<hr>
		
		<br>
		
		
		<div class="container-fluid">
			<form name="vevokeresmerleg" action=vevokeresmerleg  method="GET">
				<div class="form-group">
			    	<label for="vevoNevKeres">Név</label>
			    	<input type="text" class="form-control" id="vevoNevKeres" name="vevoNevKeres">
			  	</div>
			  <button type="submit" class="btn btn-primary">Keresés</button>
			</form>
			
		</div>
		
		<div class="container-fluid">
			<table class="table">
				<thead>
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">Név</th>
				      <th scope="col">Cím</th>
				      <th scope="col">Telefonszám</th>
				      <th scope="col"></th>
				    </tr>
				 </thead>
				<tbody th:each="termelo : ${termelok}">
				    <tr>
				      <td th:text="${termelo.id}">Mark</td>
				      <td th:text="${termelo.termeloNev}">Mark</td>
				      <td th:text="${termelo.termeloCim}">Otto</td>
				      <td th:text="${termelo.termeloTelefonSzam}">sdf</td>
				      <td><a th:href="@{/addvevomerlegjegy(termelo=${termelo.id})}"> <i
							class="material-icons">assignment_turned_in</i></a></td>
				      
				    </tr>
				    
			  	</tbody>
			</table>
		
		</div>
		<br>
		
		<hr>
		
		<br>
		
		<div class="container-fluid">
			<form action="" class="form-group  ">
				<div class="form-group row ">
					<div class="col-sm-3">
						<label></label>
					</div>
					<div class="col-sm-3">
						<label>Első mérés</label>
					</div>
					<div class="col-sm-3">
						<label>Második mérés</label>
					</div>
					<div class="col-sm-3">
						<label>Bruttó súly (kg)</label>
					</div>
				</div>
				<div class="form-group row ">
					<div class="col-sm-3">
						<label>I. osztály mérés</label>
					</div>
					<div class="col-sm-3">
						<input type="text" id="elsoMeresegy" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-3">
						<input type="text" id="elsoMeresKetto" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-3">
						<label id="eredmény">0</label>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-3">
						<label>II. osztály mérés</label>
					</div>
					<div class="col-sm-3">
						<input type="text" id="masodMeresegy" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-3">
						<input type="text" id="masodMeresKetto" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-3">
						<label id="eredmény">0</label>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-3">
						<label>III. osztály mérés</label>
					</div>
					<div class="col-sm-3">
						<input type="text" id="harmadMeresegy" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-3">
						<input type="text" id="harmadMeresKetto" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-3">
						<label id="eredmény">0</label>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-3">
						<label>IV. osztály mérés</label>
					</div>
					<div class="col-sm-3">
						<input type="text" id="negyedMeresegy" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-3">
						<input type="text" id="negyedMeresKetto" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-3">
						<label id="eredmény">0</label>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-3">
						<label>Vastag gyökér mérés</label>
					</div>
					<div class="col-sm-3">
						<input type="text" id="vastagMeresegy" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-3">
						<input type="text" id="vastagMeresKetto" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-3">
						<label id="eredmény">0</label>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-3">
						<label>Vékony gyökér mérés</label>
					</div>
					<div class="col-sm-3">
						<input type="text" id="vékonyMeresegy" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-3">
						<input type="text" id="vékonyMeresKetto" maxlength="10" class="form-control numberFormat">
					</div>
					<div class="col-sm-3">
						<label id="eredmény">0</label>
					</div>
				</div>
			</form>
			
		</div>
		
		
		
		</div>
		
		</div>
		
		

	

</body>
</html>