<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org"	layout:decorator="main">
<head>
	<meta charset="utf-8" />
	<title>Felvásárlás</title>
	
</head>
<body>
		
	<div layout:fragment="content">
	
		
		<div class="container" >
			<div class="row justify-content-center ">
			
				
				
				<div class="container">
						<div class="container-fluid">
						
						
						
								<div class="card shadow mb-4">
		                        <div class="card-header py-3 row" >
		                        	<div class="col-xl-3">
		                        		<h3 class="m-0 font-weight-bold text-primary">Ügyfelek keresése</h3>
		                        	</div>
		                        	<div class="col-xl-6">
		                        	</div>
		                            <div class="col-xl-3">
		                            	<a class="btn btn-primary nBtn mt-3" >
						    			Új ügyfél felvitele
						  				</a>
		                            </div>
		                            
		                        </div>
		                        <div class="card-body">
		                            <div class="table-responsive">
		                                <table class="table table-bordered table-striped" id="ugyfelTable" style="width:100%">
		                                    <thead>
		                                        <tr>
		                                            <th>#</th>
		                                            <th>Név</th>
		                                            <th>Cím</th>
		                                            <th>Telefonszám</th>
		                                            <th></th>
		                                            <th></th>
		                                        </tr>
		                                    </thead>
		                                    <tfoot>
		                                        <tr>
		                                             <th>#</th>
		                                            <th>Név</th>
		                                            <th>Cím</th>
		                                            <th>Telefonszám</th>
		                                            <th></th>
		                                            <th></th>
		                                        </tr>
		                                    </tfoot>
		                                    
		                                </table>
		                            </div>
		                        </div>
		                    </div>
						</div>
					</div>
			
			
			

				
			</div>
			
			<div class="myForm">
					<form th:action="@{/savetermelo}" method="post">
						<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="editUSerLabel" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-scrollable" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="editUserLabel">Adatok szerkesztése</h5>
						        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						      </div>
						      <div class="modal-body">
						    
								  <div class="form-group">
								    <label for="termeloId">Id</label>
								    <input type="text" class="form-control" id="termeloId"   name="id" readonly="readonly">
								  </div>
								  <div class="form-group">
								    <label for="termeloNev">Név</label>
								    <input type="text" class="form-control" id="termeloNev"   name="termeloNev">
								  </div>
								  <div class="form-group">
								    <label for="termeloLnev">Leánykori név</label>
								    <input type="text" class="form-control" id="termeloLnev"  name="termeloLnev">
								  </div>
								  <div class="form-group">
								    <label for="termeloCim">Cím</label>
								    <input type="text" class="form-control" id="termeloCim"  name="termeloCim">
								  </div>
								  <div class="form-group">
								    <label for="termeloOstermeloiIgazolvanySzam">Felir szám</label>
								    <input type="text" class="form-control" id="termeloOstermeloiIgazolvanySzam"  name="termeloOstermeloiIgazolvanySzam" placeholder="AB9999">
								  </div>
								  <div class="form-group">
								    <label for="termeloAdoazonositoJel">Adóazonosító jel</label>
								    <input type="text" class="form-control" id="termeloAdoazonositoJel"  name="termeloAdoazonositoJel" placeholder="9999999999">
								  </div>
								  <div class="form-group">
								    <label for="termeloAdoSzam">Adószám</label>
								    <input type="text" class="form-control" id="termeloAdoSzam"  name="termeloAdoSzam" placeholder="999999999-1-99">
								  </div>
								  <div class="form-group">
								    <label for="termeloSzuletesiHely">Születési hely</label>
								    <input type="text" class="form-control" id="termeloSzuletesiHely"  name="termeloSzuletesiHely">
								  </div>
								  <div class="form-group">
								    <label for="termeloSzuletesiIdo">Születési idő</label>
								    <input type="date" class="form-control" id="termeloSzuletesiIdo" min="1920-01-01" max="2040-01-01"  name="termeloSzuletesiIdo">
								  </div>
								  <div class="form-group">
								    <label for="termeloEdesAnyjaNeve">Édesanyja Neve</label>
								    <input type="text" class="form-control" id="termeloEdesAnyjaNeve"  name="termeloEdesAnyjaNeve">
								  </div>
								  <div class="form-group">
								    <label for="termeloTajSzam">TAJ Szám</label>
								    <input type="text" class="form-control" id="termeloTajSzam" maxlength="12"  name="termeloTajSzam" placeholder="999-999-999">
								  </div>
								  <div class="form-group">
								    <label for="termeloCsaladiGazdasagSzam">ÖCSG szám</label>
								    <input type="text" class="form-control" id="termeloCsaladiGazdasagSzam"  name="termeloCsaladiGazdasagSzam" placeholder="OCSG-00000000">
								  </div>
								  <div class="form-group">
								    <label for="termeloGlobalGapSzam">Global Gap szám</label>
								    <input type="text" class="form-control" id="termeloGlobalGapSzam"  name="termeloGlobalGapSzam" placeholder="GGN-0000000000000">
								  </div>
								  <div class="form-group">
								    <label for="termeloTelefonSzam">Telefonszám</label>
								    <input type="text" class="form-control" id="termeloTelefonSzam" maxlength="30"  name="termeloTelefonSzam" placeholder="((30) 111-1111)">
								  </div>
								  <div class="form-group">
								    <label for="termeloBankszamlaSzam">Bankszámlaszám</label>
								    <input type="text" class="form-control" id="termeloBankszamlaSzam"  name="termeloBankszamlaSzam" placeholder="99999999-99999999-99999999">
								  </div>
							
							
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
						        <button type="submit" class="btn btn-primary">Mentés</button>
						      </div>
						    </div>
						  </div>
						</div>
					
					</form>
				
				</div>
				
			<div class="myFormNew">
					<form th:action="@{/savetermelo}" method="post">
						<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newUserLabel" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-scrollable" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="newUserLabel">Új ügyfél felvitele</h5>
						        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						      </div>
						      <div class="modal-body">
						    
								  <div class="form-group">
								    <label for="termeloId">Id</label>
								    <input type="hidden" class="form-control" id=""   name="id" >
								  </div>
								  <div class="form-group">
								    <label for="termeloNev">Név</label>
								    <input type="text" class="form-control" id=""   name="termeloNev">
								  </div>
								  <div class="form-group">
								    <label for="termeloLnev">Leánykori név</label>
								    <input type="text" class="form-control" id=""  name="termeloLnev">
								  </div>
								  <div class="form-group">
								    <label for="termeloCim">Cím</label>
								    <input type="text" class="form-control" id=""  name="termeloCim">
								  </div>
								  <div class="form-group">
								    <label for="termeloOstermeloiIgazolvanySzam">Felir szám</label>
								    <input type="text" class="form-control" id="termeloOstermeloiIgazolvanySzamNew"  name="termeloOstermeloiIgazolvanySzam" placeholder="AB9999999">
								  </div>
								  <div class="form-group">
								    <label for="termeloAdoazonositoJel">Adóazonosító jel</label>
								    <input type="text" class="form-control" id="termeloAdoazonositoJelNew"  name="termeloAdoazonositoJel" placeholder="9999999999">
								  </div>
								  <div class="form-group">
								    <label for="termeloAdoSzam">Adószám</label>
								    <input type="text" class="form-control" id="termeloAdoSzamNew"  name="termeloAdoSzam" placeholder="999999999-1-99">
								  </div>
								  <div class="form-group">
								    <label for="termeloSzuletesiHely">Születési hely</label>
								    <input type="text" class="form-control" id=""  name="termeloSzuletesiHely">
								  </div>
								  <div class="form-group">
								    <label for="termeloSzuletesiIdo">Születési idő</label>
								    <input type="date" class="form-control" id="termeloSzuletesiIdo" min="1920-01-01" max="2025-01-01" name="termeloSzuletesiIdo">
								  </div>
								  <div class="form-group">
								    <label for="termeloEdesAnyjaNeve">Édesanyja Neve</label>
								    <input type="text" class="form-control" id=""  name="termeloEdesAnyjaNeve">
								  </div>
								  <div class="form-group">
								    <label for="termeloTajSzam">TAJ Szám</label>
								    <input type="text" class="form-control" id="termeloTajSzamNew" maxlength="12"  name="termeloTajSzam" placeholder="999-999-999">
								  </div>
								  <div class="form-group">
								    <label for="termeloCsaladiGazdasagSzam">ÖCSG szám</label>
								    <input type="text" class="form-control" id="termeloCsaladiGazdasagSzamNew"  name="termeloCsaladiGazdasagSzam" placeholder="OCSG-00000000">
								  </div>
								  <div class="form-group">
								    <label for="termeloGlobalGapSzam">Global Gap szám</label>
								    <input type="text" class="form-control" id="termeloGlobalGapSzamNew"  name="termeloGlobalGapSzam" placeholder="GGN-0000000000000">
								  </div>
								  <div class="form-group">
								    <label for="termeloTelefonSzam">Telefonszám</label>
								    <input type="text" class="form-control" id="termeloTelefonSzamNew" maxlength="30"  name="termeloTelefonSzam" placeholder="((30) 111-1111)">
								  </div>
								  <div class="form-group">
								    <label for="termeloBankszamlaSzam">Bankszámlaszám</label>
								    <input type="text" class="form-control" id="termeloBankszamlaSzamNew"  name="termeloBankszamlaSzam" placeholder="99999999-99999999-99999999">
								  </div>
							
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
						        <button type="submit" class="btn btn-primary">Mentés</button>
						      </div>
						    </div>
						  </div>
						</div>
					
					</form>
				
				</div>
			
			
				<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Ügyfél törlése</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				         
				        </button>
				      </div>
				      <div class="modal-body">
				        <p id="askName"></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
				        <button type="button" class="btn btn-primary" id="deleteUserBtn">Törlés</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
			
		
		
		
		

		
		
		
		
	</div>
	
	

</body>
</html>