<!DOCTYPE html>
<html lang="hu"	layout:decorator="main">
<head>
	<meta charset="utf-8" />
	<title>Felvásárlás</title>
</head>
<body>
		
	<div layout:fragment="content" >
		<div class="container">
						<div class="container-fluid">
						
						
						
								<div class="card shadow mb-4">
		                        <div class="card-header py-3">
		                            <h3 class="m-0 font-weight-bold text-primary">Mérlegjegy lista</h3>
		                        </div>
		                        <div class="card-body">
		                            <div class="table-responsive">
		                                <table class="table table-bordered table-striped" id="merlegjegyLista" style="width:100%">
		                                    <thead>
		                                        <tr>
		                                        	<th></th>
		                                            <th>#</th>
		                                            <th>Név</th>
		                                            <th>Dátum</th>
		                                            <th>Össz Ár</th>
		                                            
		                                            
		                                        </tr>
		                                    </thead>
		                                    <tfoot>
		                                        <tr>
		                                        	<th></th>
		                                            <th>#</th>
		                                            <th>Név</th>
		                                            <th>Dátum</th>
		                                            <th>Össz Ár</th>
		                                            
		                                            
		                                        </tr>
		                                    </tfoot>
		                                    
		                                </table>
		                            </div>
		                        </div>
		                    </div>
						</div>
					</div>
	
	</div>
</body>
</html>