<!DOCTYPE html>
<html lang="hu"	layout:decorator="main">
<head>
	<meta charset="utf-8" />
	<title>Eladás</title>
</head>
<body>
		
	<div layout:fragment="content" >
		<div class="container" >
			<div class="row justify-content-center ">
			
			
					<div class="container">
						<div class="container-fluid">
							<div class="card shadow my-3">
								<h3 class="card-header text-primary">Eladási ár</h3>
								<div class="card-body row">
									<div class="col-xl-2 col-md-6 mb-4">
										<div class="card shadow h-100 rounded-end">
											<div class="card-body border-start border-3 border-primary ">
												<div class="row align-items-center no-gutters">
													<div class="col mr-2">
														<div class="fw-light text-primary fs-6">
															I. osztály (Ft)
														</div>
														<div class="fw-bolder text-muted" th:text="${beallitas.elsoOsztalyAr}" id="elsoOsztalyAr">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-dollar-sign fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-md-6 mb-4">
										<div class="card shadow h-100">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary fs-6">
															II. osztály (Ft)
														</div>
														<div class="fw-bolder text-muted" th:text="${beallitas.masodOsztalyAr}" id="masodOsztolyAr">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-dollar-sign fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="col-xl-2 col-md-6 mb-4">
										<div class="card shadow h-100">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary fs-6">
															III. osztály (Ft)
														</div>
														<div class="fw-bolder text-muted" th:text="${beallitas.harmadOsztalyAr}" id="harmadOsztalyAr">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-dollar-sign fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-md-6 mb-4">
										<div class="card shadow h-100">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary fs-6">
															IV. osztály (Ft)
														</div>
														<div class="fw-bolder text-muted" th:text="${beallitas.negyedOsztalyAr}" id="negyedOsztalyAr">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-dollar-sign fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-md-6 mb-4">
										<div class="card shadow h-100">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary fs-6">
															Gyökér (Ft)
														</div>
														<div class="fw-bolder  text-muted" th:text="${beallitas.vastagGyokerAr}" id="vastagGyokerAr">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-dollar-sign fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-md-6 mb-4">
										<div class="card shadow h-100">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary fs-6">
															Ipari (Ft)
														</div>
														<div class="fw-bolder text-muted" th:text="${beallitas.vekonyGyokerAr}" id="vekonyGyokerAr">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-dollar-sign fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									
								</div>
								
								</div>
								
								
								
								
				
							</div>
					
					</div>
				</div>
					
			
			
		
					
				
					<div class="container">
						<div class="container-fluid">
						
						
						
								<div class="card shadow mb-4">
		                        <div class="card-header py-3">
		                            <h3 class="m-0 font-weight-bold text-primary">Ügyfelek keresése</h3>
		                        </div>
		                        <div class="card-body">
		                            <div class="table-responsive">
		                                <table class="table table-bordered table-striped" id="vevoMerlegjegyTable" style="width:100%">
		                                    <thead>
		                                        <tr>
		                                            <th>#</th>
		                                            <th>Név</th>
		                                            <th>Cím</th>
		                                            <th>Telefonszám</th>
		                                            <th></th>
		                                            
		                                        </tr>
		                                    </thead>
		                                    <tfoot>
		                                        <tr>
		                                             <th>#</th>
		                                            <th>Név</th>
		                                            <th>Cím</th>
		                                            <th>Telefonszám</th>
		                                            <th></th>
		                                            
		                                        </tr>
		                                    </tfoot>
		                                    
		                                </table>
		                            </div>
		                        </div>
		                    </div>
						</div>
					</div>
					
					
					
					
					
					
				
			</div>

			<div class="newVevoMerlegJegy" >
					<form th:action="@{/merleg/savevevomerlegjegy}" method="post">
						<div class="modal fade" id="newVevoMerlegModal" tabindex="-1" role="dialog" aria-labelledby="ujVevoMerlegJegy" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="ujVevoMerlegJegy">Mérleg adatok megadása</h5>
						        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						        
						      </div>
						      <div class="modal-body m-0" id="merlegprint">
						    
								  
								  <div class="container-fluid m-0 p-0">
									
									<div class="container-fluid m-0 p-0">
									
										<div class="container  m-0 p-0">
											<div class="container-fluid m-0 p-0">
												<div class="card shadow my-3">
													<h4 class="card-header text-primary">Eladó adatai:</h4>
													<div class="card-body row">
														<div class="col-xl-6 col-md-6">
															<h2 class="mb-0 mt-0 ">BOROS TORMA KFT</h2>
														</div>
														<div  class="col-xl-6 col-md-6">
															<p class="mb-0 mt-0 ">4288 Újléta Dózsa György utca 32.</p>
															<p class="mb-0 mt-0 ">12118568-2-09</p>
														</div>
														
													</div>
												</div>
											</div>
										</div>
										
										
								</div>
									
								  <div class="container-fluid m-0 p-0">
										<form name="ujmerlegjegyment" action="savemerlegjegy"  method="POST">
										  <div class="container m-0 p-0">
												<div class="container-fluid m-0 p-0">
													<div class="card shadow my-3 m-0 p-0">
														<h4 class="card-header text-primary">Vásárló adatai:</h4>
														<div class="card-body row">
															<div class="container row">
															<div class="container row col-sm-6 col-lg-6">
																<div class="row justify-content-center m-0 p-0">
																<div class="col-sm  m-0 p-0">
																	<p class="fw-bold m-0 p-0">Vásárló sorszáma:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<input type="text" class="form-control border-0  fw-normal m-0 p-0 bg-transparent text-dark" id="termeloId" name="tId" readonly>
																	
																</div>
															</div>
															<div class="row justify-content-center m-0 p-0">
																<div class="col-sm m-0 p-0">
																	<p class="fw-bold m-0 p-0">Név:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<input type="text" class="form-control border-0  fw-normal m-0 p-0 bg-transparent text-dark" id="termeloNev" name="tNev" readonly>
																	
																</div>
															</div>
															<div class="row justify-content-center m-0 p-0">
																<div class="col-sm m-0 p-0">
																	<p class="fw-bold m-0 p-0">Leánykori név:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<p class="fw-normal m-0 p-0" id="termeloLnev"></p>
																</div>
															</div>
															<div class="row justify-content-center m-0 p-0">
																<div class="col-sm m-0 p-0">
																	<p class="fw-bold m-0 p-0">Cím:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<p class="fw-normal m-0 p-0" id="termeloCim"></p>
																</div>
															</div>
															<div class="row justify-content-center m-0 p-0">
																<div class="col-sm m-0 p-0">
																	<p class="fw-bold m-0 p-0">Felir száma:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<p class="fw-normal m-0 p-0" id="termeloOstermeloiIgazolvanySzam"></p>
																</div>
															</div>
															
															<div class="row justify-content-center m-0 p-0">
																<div class="col-sm m-0 p-0">
																	<p class="fw-bold m-0 p-0">Adóazonosító:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<p class="fw-normal m-0 p-0" id="termeloAdoazonositoJel"></p>
																</div>
															</div>
															<div class="row justify-content-center m-0 p-0">
																<div class="col-sm m-0 p-0">
																	<p class="fw-bold m-0 p-0">Adószám:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<p class="fw-normal m-0 p-0" id="termeloAdoSzam"></p>
																</div>
															</div>
															</div>
															<div class="container row col-sm-6 col-lg-6">
																<div class="row justify-content-center m-0 p-0">
																<div class="col-sm m-0 p-0">
																	<p class="fw-bold m-0 p-0">Születési hely:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<p class="fw-normal m-0 p-0" id="termeloSzuletesiHely"></p>
																</div>
															</div>
															<div class="row justify-content-center m-0 p-0">
																<div class="col-sm m-0 p-0">
																	<p class="fw-bold m-0 p-0">Születési idő:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<p class="fw-normal m-0 p-0" id="termeloSzuletesiIdo"></p>
																</div>
															</div>
															<div class="row justify-content-center m-0 p-0">
																<div class="col-sm m-0 p-0">
																	<p class="fw-bold m-0 p-0">Anyja neve:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<p class="fw-normal m-0 p-0" id="termeloEdesAnyjaNeve"></p>
																</div>
															</div>
															<div class="row justify-content-center m-0 p-0">
																<div class="col-sm m-0 p-0">
																	<p class="fw-bold m-0 p-0">TAJ szám:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<p class="fw-normal m-0 p-0" id="termeloTajSzam"></p>
																</div>
															</div>
															<div class="row justify-content-center m-0 p-0">
																<div class="col-sm m-0 p-0">
																	<p class="fw-bold m-0 p-0">ÖCSG szám:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<p class="fw-normal m-0 p-0" id="termeloCsaladiGazdasagSzam"></p>
																</div>
															</div>
															<div class="row justify-content-center m-0 p-0">
																<div class="col-sm m-0 p-0">
																	<p class="fw-bold m-0 p-0">Global GAP szám:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<p class="fw-normal m-0 p-0" id="termeloGlobalGapSzam"></p>
																</div>
															</div>
															<div class="row justify-content-center m-0 p-0">
																<div class="col-sm m-0 p-0">
																	<p class="fw-bold m-0 p-0">Telefon szám:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<p class="fw-normal m-0 p-0" id="termeloTelefonSzam"></p>
																</div>
															</div>
															<div class="row justify-content-center m-0 p-0">
																<div class="col-sm m-0 p-0">
																	<p class="fw-bold m-0 p-0">Bankszámla szám:</p>
																</div>
																<div class="col-sm m-0 p-0">
																	<p class="fw-normal m-0 p-0" id="termeloBankszamlaSzam"></p>
																</div>
															</div>
															</div>
															
															
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="container">
												<table class="table table-sm">
												  <thead>
												    <tr>
												      <th scope="col">Minősítés</th>
												      <th scope="col">Egységára (ft)</th>
												      <th scope="col">Bruttó súly (kg)</th>
												      <th scope="col">Levonás (%)</th>
												      <th scope="col">Nettó súly(kg)</th>
												      <th scope="col">Kifizetett bruttó Ft</th>
												    </tr>
												  </thead>
												  <tbody  >
												    <tr>
												      <th scope="row">I. Osztályú</th>
												      <td>
												      	<input type="text" class="form-control" id="elsoOsztEgysegAr" name="elsoOsztEgysegAr" style="visibility: hidden;">
												      </td>
												      <td>
								    					<input type="text" class="form-control suly" id="elsoOsztBruttoSuly" style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control levonas" id="elsoOsztLevonas" value="5" name="elsoOsztLevonas" style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control  fw-bold bg-transparent text-dark  suly" id="elsoOsztalyNettoSuly" name="elsoOsztalySuly" required>
												      </td>
												      <td>
												      	<input type="text" class="form-control border-0 fw-bold bg-transparent text-dark osszeg" id="elsoOsztalyErteke" name="elsoOsztalyErteke"  style="visibility: hidden;">
												      	
												      </td>
												    </tr>
												    <tr>
												      <th scope="row">II. Osztályú</th>
												      <td>
												      	<input type="text" class="form-control" id="masodOsztEgysegAr" name="masodOsztEgysegAr"  style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control suly" id="masodOsztBruttoSuly" style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control levonas" id="masodOsztLevonas" value="5" name="masodOsztLevonas"  style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control fw-bold bg-transparent  text-dark  suly" id="masodOsztalyNettoSuly" name="masodOsztalySuly" required>
												      	 
												      </td>
												      <td>
												      	<input type="text" class="form-control border-0 fw-bold bg-transparent text-dark osszeg" id="masodOsztalyErteke" name="masodOsztalyErteke" style="visibility: hidden;">
												      	
												      </td>
												    </tr>
												    <tr>
												      <th scope="row">III. Osztályú</th>
												      <td>
												      	<input type="text" class="form-control" id="harmadOsztEgysegAr" name="harmadOsztEgysegAr"  style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control suly" id="harmadOsztBruttoSuly"  style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control levonas" id="harmadOsztLevonas" value="5" name="harmadOsztLevonas"  style="visibility: hidden;">
												      </td>
												      <td>
												        <input type="text" class="form-control  fw-bold bg-transparent  text-dark  suly" id="harmadOsztalyNettoSuly" name="harmadOsztalySuly" required>
												      	
												      </td>
												      <td>
												      	<input type="text" class="form-control border-0 fw-bold bg-transparent text-dark osszeg" id="harmadOsztalyErteke" name="harmadOsztalyErteke"  style="visibility: hidden;">
												      	
												      </td>
												      
												    </tr>
												    <tr>
												      <th scope="row">IV. Osztályú</th>
												      <td>
												      	<input type="text" class="form-control" id="negyedOsztEgysegAr" name="negyedOsztEgysegAr"  style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control suly" id="negyedOsztBruttoSuly"  style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control levonas" id="negyedOsztLevonas" value="5" name="negyedOsztLevonas"  style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control  fw-bold bg-transparent  text-dark  suly" id="negyedOsztalyNettoSuly" name="negyedOsztalySuly" required>
												      	
												      </td>
												      <td>
												      	<input type="text" class="form-control border-0 fw-bold bg-transparent text-dark osszeg" id="negyedOsztalyErteke" name="negyedOsztalyErteke"  style="visibility: hidden;">
												      	
												      </td>
												    </tr>
												    <tr>
												      <th scope="row">Gyökér</th>
												      <td>
												      	<input type="text" class="form-control" id="vastagEgysegAr" name="vastagEgysegAr"  style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control suly" id="vastagBruttoSuly"  style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control levonas" id="vastagLevonas" value="5" name="vastagLevonas"  style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control  fw-bold bg-transparent  text-dark  suly" id="vastagNettoSuly" name="vastagGyokerSuly" required>
												      	
												      </td>
												      <td>
												      	<input type="text" class="form-control border-0 fw-bold bg-transparent text-dark osszeg" id="vastagErteke" name="vastagErteke"  style="visibility: hidden;">
												      	
												      </td>
												    </tr>
												    <tr>
												      <th scope="row">Ipari</th>
												      <td>
												      	<input type="text" class="form-control" id="vekonyEgysegAr" name="vekonyEgysegAr"  style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control suly" id="vekonyBruttoSuly"  style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control levonas" id="vekonyLevonas" value="5" name="vekonyLevonas"  style="visibility: hidden;">
												      </td>
												      <td>
												      	<input type="text" class="form-control  fw-bold bg-transparent text-dark  suly" id="vekonyNettoSuly" name="vekonyGyokerSuly" required>
												      	
												      </td>
												      <td>
												      	<input type="text" class="form-control border-0 fw-bold bg-transparent text-dark osszeg" id="vekonyErteke" name="vekonyErteke"  style="visibility: hidden;">
												      	
												      </td>
												    </tr>
												    <tr>
												      <th scope="row" colspan="3">Összesen:</th>
												      <td>
												      
													      	<div class="input-group mb-3">
															  <div class="input-group-prepend">
															    <label class="input-group-text" for="inputGroupSelect01">Pénznem</label>
															  </div>	
												  			  <select class="custom-select" id="penznem" th:name="penznem" required>
															    
															    <option selected value="HUF">HUF</option>
															    <option value="PLN">PLN</option>
															    <option value="EUR">EUR</option>
															  </select>
															  </div>
												      </td>
												      <td>
												      	
												      	<p class="fw-bold"  id="osszSuly"></p>
												      </td>
												      <td>
												      	<input type="text" class="form-control  fw-bold bg-transparent text-dark inputMask osszeg" id="osszAr" name="osszAr" required>
												      	
												      </td>
												    </tr>
												    <tr>
												      <th scope="row" colspan="4"></th>
												      <td>
												      	<p>Előleg:</p>
												      </td>
												      <td>
												      	<input type="text" class="form-control border-0 fw-bold bg-transparent text-dark inputMask osszeg"  id="eloleg" name="eloleg" value="0">
												      	
												      </td>
												      
												    </tr>
												    <tr>
												      <th scope="row" colspan="4"></th>
												      <td>
												      	<p class="fw-bold">Kifizetendő:</p>
												      </td>
												      <td>
												      	<input type="text" class="form-control border-0 fw-bold bg-transparent text-dark inputMask osszeg"  id="fizetendő" name="kifizetendo" readonly>
												      	
												      </td>
												      
												    </tr>
												  </tbody>
												</table>
											</div>
											  <div class="row">
											  		<div class="col-sm-2 col-lg-6">
											  			<p class="fw-bold">Számla sorszáma: </p>
											  		</div>
											  		<div class="col-sm-2 col-lg-6">
											  			<input type="text" class="form-control  fw-bold bg-transparent text-dark" id="szamlaSorszam" name="szamlaSorszam" required>
											  		</div>
										  		
											  		
											  </div>	  
											  <div class="row">
												  		<div class="col-sm-2 col-lg-6">
												  			<p class="fw-bold">Eladás dátuma: </p>
												  		</div>
												  		<div class="col-sm-2 col-lg-6">
												  			<input type="date" class="form-control" id="leadasDatum" min="1920-01-01" max="2040-01-01"  name="leadasDatum" required>
												  		</div>
												  		
												  		
											  </div>
												  
												   <div class="row">
												  		<div class="col-sm-2 col-lg-6">
												  			<p class="fw-bold">Fizetési határidő: </p>
												  		</div>
												  		<div class="col-sm-2 col-lg-6">
												  			<input type="date" class="form-control" id="fizetesiHatarido" min="1920-01-01" max="2040-01-01"  name="fizetesiHatarido" required>
												  		</div>
												  		
												  		
												  </div>
												  
												   <div class="row">
												  		<div class="col-sm-2 col-lg-6">
												  			<p class="fw-bold">Kifizetés dátuma: </p>
												  		</div>
												  		<div class="col-sm-2 col-lg-6">
												  			<input type="date" class="form-control" id="kifizetesDatum" min="1920-01-01" max="2040-01-01"  name="kifizetesDatum" >
												  		</div>
												  		
												  		
												  </div>
											  
										  	 	
											  
										</form>
									
								  </div>
									
								  </div>
								  
								  
							  
						      
						      <div class="modal-footer">
											  	<a class="btn btn-primary" href="#" role="button" id="download"><i class="fas fa-print"></i></a>
										        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégse</button>
										        <button type="submit" class="btn btn-primary">Mentés</button>
										        
							  </div>
							 
						    </div>
						  </div>
				    </form>
			 </div>
					
					
			
				
		
	
	</div>
</body>
</html>
