<!DOCTYPE html>
<html lang="hu"	layout:decorator="main">

<head>
	<meta charset="utf-8" />
	<title>Felvásárlás</title>
</head>
<body>
	
	<div layout:fragment="content">
	
		<div class="row d-flex justify-content-center mt-4">
			<div class="col-sm-12 col-md-12 ">
			
				<div class="row">
					<div class="container pt-3">
						<div class="container-fluid">
							<div class="card shadow">
								<h3 class="card-header">Behozott torma adatai</h3>
								<div class="card-body row">
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															I. osztály (kg)
														</div>
														<div class="fw-bolder text-muted " th:text="${elsoOsztSulyTermelo}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															II. osztály (kg)
														</div>
														<div class="fw-bolder text-muted" th:text="${masodOsztSulyTermelo}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															III. tormaosztály (kg)
														</div>
														<div class="fw-bolder text-muted" th:text="${harmadOsztSulyTermelo}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															IV. osztály (kg)
														</div>
														<div class="fw-bolder  text-muted" th:text="${negyedOsztSulyTermelo}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															Gyökér (kg)
														</div>
														<div class="fw-bolder text-muted" th:text="${vastagGyokerSulyTermelo}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light  text-primary">
															Ipari (kg)
														</div>
														<div class="fw-bolder text-muted" th:text="${vekonyGyokerSulyTermelo}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-success">
															Össz ár (Ft)
														</div>
														<div class="fw-bolder" th:text="${osszArTermelo}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-dollar-sign fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="container-fluid row">
										<div class="col-xl-1"></div>
										<div class="col-xl-10 justify-content-center">
											<canvas id="myChart" width="200px" height="100px"></canvas>
										</div>
										<div class="col-xl-1"></div>
									</div>
									
									
								</div>
								
								</div>
								
								
								
								
				
						</div>
							
					</div>
					
	
	                <div class="container pt-3">
						<div class="container-fluid">
							<div class="card shadow">
								<h3 class="card-header">Eladott torma adatai</h3>
								<div class="card-body row">
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															I. osztály (kg)
														</div>
														<div class="fw-bolder text-muted " th:text="${elsoOsztSulyVevo}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															II. osztály (kg)
														</div>
														<div class="fw-bolder text-muted" th:text="${masodOsztSulyVevo}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															tormaosztály (kg)
														</div>
														<div class="fw-bolder text-muted" th:text="${harmadOsztSulyVevo}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															IV. osztály (kg)
														</div>
														<div class="fw-bolder  text-muted" th:text="${negyedOsztSulyVevo}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															tormaosztály (kg)
														</div>
														<div class="fw-bolder text-muted" th:text="${vastagGyokerSulyVevo}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light  text-primary">
															tormaosztály (kg)
														</div>
														<div class="fw-bolder text-muted" th:text="${vekonyGyokerSulyVevo}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-success">
															Össz ár (Ft)
														</div>
														<div class="fw-bolder" th:text="${osszArVevo}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-dollar-sign fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								</div>
						</div>
							
					</div>
					 
	                       
					<div class="container pt-3">
						<div class="container-fluid">
							<div class="card shadow">
								<h3 class="card-header">Telepen lévő torma</h3>
								<div class="card-body row">
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															I. osztály (kg)
														</div>
														<div class="fw-bolder text-muted " th:text="${elsoOsztSulyTelep}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															II. osztály (kg)
														</div>
														<div class="fw-bolder text-muted" th:text="${masodOsztSulyTelep}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															tormaosztály (kg)
														</div>
														<div class="fw-bolder text-muted" th:text="${harmadOsztSulyTelep}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															IV. osztály (kg)
														</div>
														<div class="fw-bolder  text-muted" th:text="${negyedOsztSulyTelep}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light text-primary">
															tormaosztály (kg)
														</div>
														<div class="fw-bolder text-muted" th:text="${vastagGyokerSulyTelep}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-md-6 mb-4">
										<div class="card shadow">
											<div class="card-body border-start border-3 border-primary rounded-end">
												<div class="row align-items-center">
													<div class="col mr-2">
														<div class="fw-light  text-primary">
															tormaosztály (kg)
														</div>
														<div class="fw-bolder text-muted" th:text="${vekonyGyokerSulyTelep}">
															100
														</div>
													</div>
													<div class="col-auto">
														<span style=" color: rgba(153, 153, 153, 0.583);">
															<i class="fas fa-weight-hanging fa-2x"></i>
														  </span>
														
													</div>
												</div>
											</div>
										</div>
									</div>
									
								</div>
								
								</div>
						</div>
							
					</div>
					
		
					
				</div>
			</div>
	
		</div>	
	</div>
	
</body>

</html>