<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org"	layout:decorator="main">
<head>
	<meta charset="utf-8" />
	<title>Felvásárlás</title>
</head>
<body>

	<div layout:fragment="content">
		<span id="errmsg" color="red"></span>
		<div class="container">
			<form name="ujtermelo" action="ujtermelo"  method="POST">
			  <div class="form-group">
			    <label for="termeloNev">Név</label>
			    <input type="text" class="form-control" id="termeloNev" name="termeloNev" required="required">
			  </div>
			  <div class="form-group">
			    <label for="termeloLnev">Leánykori név</label>
			    <input type="text" class="form-control" id="termeloLnev" name="termeloLnev">
			  </div>
			  <div class="form-group">
			    <label for="termeloCim">Cím</label>
			    <input type="text" class="form-control" id="termeloCim" name="termeloCim" required="required">
			  </div>
			  <div class="form-group">
			    <label for="termeloSzuletesiHely">Születési hely</label>
			    <input type="text" class="form-control" id="termeloSzuletesiHely" name="termeloSzuletesiHely">
			  </div>
			  <div class="form-group">
			    <label for="termeloSzuletesiIdo">Születési idő</label>
			    <input type="date" class="form-control" id="termeloSzuletesiIdo" min="1900-01-01" max="2020-01-01" name="termeloSzuletesiIdo" required="required">
			  </div>
			  <div class="form-group">
			    <label for="termeloEdesAnyjaNeve">Édesanyja Neve</label>
			    <input type="text" class="form-control" id="termeloEdesAnyjaNeve" name="termeloEdesAnyjaNeve">
			  </div>
			  <div class="form-group">
			    <label for="termeloTelefonSzam">Telefonszám</label>
			    <input type="text" class="form-control  numberFormat" id="termeloTelefonSzam" maxlength="30" name="termeloTelefonSzam" required="required">
			  </div>
			  <div class="form-group">
			    <label for="termeloTajSzam">TAJ Szám</label>
			    <input type="text" class="form-control  numberFormat" id="termeloTajSzam" maxlength="12" name="termeloTajSzam" required="required">
			  </div>
			  <div class="form-group">
			    <label for="termeloOstermeloiIgazolvanySzam">Őstermelői igazolvány szám</label>
			    <input type="text" class="form-control numberFormat" id="termeloOstermeloiIgazolvanySzam" name="termeloOstermeloiIgazolvanySzam" required="required">
			  </div>
			  <div class="form-group">
			    <label for="termeloOstermeloiIgazolvanyErvenyesseg">Őstermelő Igazolvány érvényesség</label>
			    <input type="date" class="form-control" id="termeloOstermeloiIgazolvanyErvenyesseg" min="1990-01-01" max="2025-01-01" name="termeloOstermeloiIgazolvanyErvenyesseg" required="required">
			  </div>
			  <div class="form-group">
			    <label for="termeloAdoazonositoJel">Adóazonosító jel</label>
			    <input type="text" class="form-control numberFormat" id="termeloAdoazonositoJel" name="termeloAdoazonositoJel" required="required">
			  </div>
			  <div class="form-group">
			    <label for="termeloAdoSzam">Adószám</label>
			    <input type="text" class="form-control numberFormat" id="termeloAdoSzam" name="termeloAdoSzam" required="required">
			  </div>
			  <div class="form-group">
			    <label for="termeloCsaladiGazdasagSzam">Családi gazdaság szám</label>
			    <input type="text" class="form-control numberFormat" id="termeloCsaladiGazdasagSzam" name="termeloCsaladiGazdasagSzam">
			  </div>
			  <div class="form-group">
			    <label for="termeloGlobalGapSzam">Global Gap szám</label>
			    <input type="text" class="form-control numberFormat" id="termeloGlobalGapSzam" name="termeloGlobalGapSzam">
			  </div>
			  <div class="form-group">
			    <label for="termeloBankszamlaSzam">Bankszámlaszám</label>
			    <input type="text" class="form-control numberFormat" id="termeloBankszamlaSzam" name="termeloBankszamlaSzam" required="required">
			  </div>
			  <button type="submit" class="btn btn-primary">Mentés</button>
			</form>
		</div>
	</div>

</body>
</html>