<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org"	layout:decorator="main">
<head>
	<meta charset="utf-8" />
	<title>Felvásárlás</title>
	
</head>
<body>
		
	<div layout:fragment="content">
	
		<div class="container">
						<div class="container-fluid">
								<div class="card shadow mb-4">
								<div class="card-header row">
								
									<div class=" py-3 col">
		                            	<h3 class="m-0 font-weight-bold text-primary">Új felvásárlásijegy készítése</h3>
		                        	</div>
		                        	<div class="col-md-auto">
		                        	
		                        	</div>
									
								
								</div>
		                        
		                        <div class="card-body">
		                        
		                        	<form name="ujFelvasarlasiJegy" th:action="@{savefelvasarlasijegy}"  method="POST">
		                        		<div class="row">
					                        <div class="col-10">
					                        	<select class="form-select"  id="termeloSelect" th:name="id">
												  <option th:each="termelok : ${termelo}" 
												          th:value="${termelok.id}" 
												          th:text="${termelok.nev}"
												          >Wireframe</option>
												</select>
					                        
					                        </div>
					                        
					                        <div class="col-2">
					                        	<button type="submit" class="btn btn-primary">
					                        		Új felvásárlási jegy
					                        	</button>
					                        </div>
			                        
			                        	</div>
		                        	
		                        	</form>
			                        
		                        
		                           
		                        </div>
		                    </div>
						
						
								<div class="card shadow mb-4">
								<div class="card-header row">
								
									<div class=" py-3 col">
		                            	<h3 class="m-0 font-weight-bold text-primary">Kifizetett felvásárlási jegy lista</h3>
		                        	</div>
		                        	<div class="col-md-auto">
		                        	
		                        	</div>
									
								
								</div>
		                        
		                        <div class="card-body">
		                            <div class="table-responsive">
		                                <table class="table table-bordered table-striped" id="felvasarlasiJegyFizetve" style="width:100%">
		                                    <thead>
		                                        <tr>
		                                        	<th></th>
		                                            <th>#</th>
		                                            <th>Név</th>
		                                            <th>Dátum</th>
		                                            <th>Össz Ár</th>
		                                            
		                                            
		                                        </tr>
		                                    </thead>
		                                    <tfoot>
		                                        <tr>
		                                        	<th></th>
		                                            <th>#</th>
		                                            <th>Név</th>
		                                            <th>Dátum</th>
		                                            <th>Össz Ár</th>
		                                            
		                                            
		                                        </tr>
		                                    </tfoot>
		                                    
		                                </table>
		                            </div>
		                        </div>
		                    </div>
						</div>
					</div>
					
				
				
				
	
	</div>
	
</body>
</html>