<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org"	layout:decorator="main">
<head>
	<meta charset="utf-8" />
	<title>Felvásárlás</title>
	
</head>
<body>
		
	<div layout:fragment="content">
	
		<div class="container">
			<form name="termelokeres" action=termelokeres  method="GET">
				<div class="form-group">
			    <label for="termeloNevKeres">Név</label>
			    <input type="text" class="form-control" id="termeloNevKeres" name="termeloNevKeres">
			  </div>
			  <button type="submit" class="btn btn-primary">Keresés</button>
			</form>
		
		
		</div>
		
		<div class="container">
			<table class="table">
				<thead>
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">Név</th>
				      <th scope="col">Cím</th>
				      <th scope="col">Telefonszám</th>
				      <th scope="col"></th>
				    </tr>
				 </thead>
				<tbody th:each="termelo : ${termelok}">
				    <tr>
				      <td th:text="${termelo.id}">Mark</td>
				      <td th:text="${termelo.termeloNev}">Mark</td>
				      <td th:text="${termelo.termeloCim}">Otto</td>
				      <td th:text="${termelo.termeloTelefonSzam}">sdf</td>
				      <td><a th:href="@{/edittermelo(termelo=${termelo.id})}"> <i
							class="material-icons">create</i></a></td>
				      
				    </tr>
				    
			  	</tbody>
			</table>
		
		</div>
		
		
		<a class="btn btn-primary"  href="/ugyfelmentes" >
    			Új ügyfél felvitele
  		</a>
		
	</div>

</body>
</html>